body {
   margin: 0;
   padding: 0;
   font-size: 10px;
   font-family: 'Orbitron', sans-serif;
}

a {
   text-decoration: none;
   color: white;
}

a:hover {
   color: #00C5FF;
   text-shadow: 0px 0px 30px #00C5FF;
}

.box {
   background-color: #141C24;
   color: white;
   text-shadow: 0px 0px 30px rgba(253, 187, 45, 1);
   height: 100%;
   min-height: 100vh;

}

.box_row {
   justify-content: center;
   text-align: center;
   padding-top: 7rem;
   padding-bottom: 8.2rem;
}

.box_form {
   display: flex;
   align-items: center;
   justify-content: space-evenly
}

form {
   display: flex;
   flex-direction: column;
   width: 30%;
   align-items: center;
}

button {
   clip-path: polygon(83% 0, 100% 44%, 100% 100%, 0 100%, 0 0);
   background-color: rgb(255, 255, 255);
   color: black;
   font-weight: 700;
   font-size: 0.5;
   width: 30%;
   padding: 0.5rem;
   margin-top: 1rem;
   cursor: pointer;
   font-family: 'Orbitron', sans-serif;
   margin-bottom: 1rem;
}

.input_text {
   width: 60%;
   padding: 0.8rem;
   margin-top: 0.2rem;
   cursor: pointer;
   font-family: 'Orbitron', sans-serif;
   border-radius: 2px;
   outline: none;
   border: 0;
   font-size: 0.8rem;

}

span {
   text-shadow: none;
   color: rgba(255, 255, 255, 0.288);
   font-weight: 100;
   font-size: 0.6rem;
}

.checkbox {
   margin-left: 2rem;
}

.label{
   margin-top: 1rem;
}

.box_icon {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;
   margin-top: 2rem;
}

.box_icon img {
   margin-top: 0.2rem;
   margin-left: 0.5rem;
}

.box_icon img:hover{
   filter: drop-shadow(0px 0px 5px #00C5FF);
}

.enter {
   text-shadow: none;
   color: rgba(255, 255, 255, 0.288);
   font-size: 2.2rem;
}

.enter:hover {
   color: white;
   text-shadow: 0px 0px 30px #00C5FF;
   font-weight: 400;
   cursor: pointer;
}

/* МЕДИА ЗАПРОСЫ */
@media screen and (max-width:576px) {
   .button {
      width: 100%;
   }

   .enter {
      font-size: 2rem;
   }

   .input_text {
      width: 185%;
      padding: 0.6rem;

   }

   .label {
      width: 236%;
   }

   .box_row {
      padding-top: 7rem;
      padding-bottom: 21rem;
   }
}