body {
   margin: 0;
   padding: 0;
   font-size: 10px;
   font-family: 'Roboto', sans-serif;

}
/* Ссылки */
a {
   text-decoration: none;
   color: white;
}
a:hover {
   color: #00C5FF;
}

/* Линия */
.hr {
   color: #00C5FF;
   width: 70%;
   margin-top: 2rem;

}

.hr:not([size]) {
   height: 2px;
}

/* ПЕРВАЯ СЕКЦИЯ */
/* ХЕДЕР */
.section_one {
   margin: 0px auto;
   background-image: url(../IMG/first_image.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding-bottom: 16rem;
   transition: 1.5s linear;
   box-sizing: border-box;
   position: relative;
   background-position-x: center;
   min-height: 100vh;

}

.t {
   background: linear-gradient(360deg, #141C24 9%, rgba(20, 28, 36, 0) 95.65%), #527E8B;
}

header {
   padding-left: 3rem;
   padding-right: 3rem;
   padding-top: 2rem;
   text-align: center;
   align-items: center;
}

.header_first {
   transition: all 0.5s linear;
}

.hide_header {
   padding-top: 1.6rem;
   display: none;
   transition: all 0.5s linear;
   opacity: 0;
}

.nav_menu {
   list-style-type: none;
   display: flex;
   color: white;
   font-size: 1rem;
   font-weight: 600;
   text-align: center;
   align-items: center;
   margin-top: 1rem;
   flex-wrap: wrap;
   justify-content: space-around;
}

.nav_menu li {
   margin: 1px;
   width: 8.5rem;
   transition: all 0.5s;
   box-sizing: border-box;
   border-collapse: collapse;
}

/* Анимации */
.animate__fadeInUp {
   animation-duration: 2s;
}

.animate__fadeInDown {
   animation-duration: 2s;
}

.nav_menu li:hover {
   text-shadow: 0px -2px 6px #158ebe;
   color: #00C5FF;
   border-bottom: 1px solid rgba(253, 187, 45, 1);
}

.riska {
   display: block;
   padding: 0.2rem;
   cursor: pointer;
   transition: all 1s;

}

.riska:hover {
   box-shadow: 0px 0px 10px 10px #70adc0;
}

.menu {
   width: min-content;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
}

/* UNDER HEADER */

.under_header {
   flex-direction: column;
   text-align: center;
   margin-top: 10rem;
   color: white;
   align-items: center;
   font-family: 'Orbitron', sans-serif;
   font-weight: 500;
   
}

.under_header_button {
   clip-path: polygon(83% 0, 100% 44%, 100% 100%, 0 100%, 0 0);
   background-color: rgb(255, 255, 255);
   color: black;
   font-weight: 700;
   font-size: 100%;
   width: 20%;
   padding: 1rem;
   margin-top: 1.5rem;
   cursor: pointer;
   font-family: 'Orbitron', sans-serif;

}

.middle_line {
   position: absolute;
   margin-top: 2rem;
}

/* ВТОРАЯ СЕКЦИЯ */
.section_two {
   background-color: #141C24;
}

.section_two_row {
   align-items: center;
   justify-content: space-around;
   padding-top: 3rem;
   padding-bottom: 3rem;

}

.ImageServerHost img {
   width: 100%;

}

.section_two_text {
   color: white;
}

.section_two h2 {
   font-family: 'Orbitron', sans-serif;
   text-shadow: 0px 0px 30px rgba(253, 187, 45, 1);
}

.section_two h5 {
   font-size: 1rem;
   font-weight: 300;
   color: #ABABAB;
   width: 70%;
   line-height: 1.5;

}

hr {
   width: 50%;

}

/* ТРЕТЬЯ СЕКЦИЯ */

.section_three {
   background-color: #141C24;
   text-align: center;
   padding-bottom: 4rem;
}

.start-play {
   padding-top: 4rem;
   padding-bottom: 14rem;
   align-items: center;
   justify-content: center;
}

.section_three h2 {
   color: white;
   font-family: 'Orbitron', sans-serif;
   text-align: center;
   margin-bottom: 5rem;
   text-shadow: 0px 0px 30px rgba(253, 187, 45, 1);
}

.section_three span {
   color: white;
   font-size: 0.8rem;
   line-height: 1;
}

/* ЧЕТВЕРТАЯ СЕКЦИЯ */

.section_four {
   background-color: #141C24;
}

.price {
   justify-content: space-evenly;
   padding-bottom: 4rem;
}

.section_four h2 {
   color: white;
   font-family: 'Orbitron', sans-serif;
   text-align: center;
   margin-bottom: 5rem;
   text-shadow: 0px 0px 30px rgba(253, 187, 45, 1);
}

.section_four h3 {
   width: 60%;
   font-weight: 700;
   margin-left: 2rem;
   margin-top: 3rem;
}

.section_four p {
   font-size: 1rem;
   font-weight: 500;
   margin-left: 2rem;
   margin-top: 1rem;
   font-weight: 700;
}

.section_four p,
h3 {
   color: white;
}

.section_four ul {
   color: #ABABAB;
   font-size: 1rem;
   font-weight: 700;
   margin-top: 1.5rem;
   list-style-type: none;

}

.section_four button {
   margin-left: 2rem;
   margin-top: 2rem;
   width: 80%;
   margin-bottom: 2rem;
   background-color: #00C5FF;
   font-family: 'Orbitron', sans-serif;
   border-radius: 10px;
   padding-top: 1rem;
   padding-bottom: 1rem;
   font-size: 1rem;
   font-weight: 700;
}

/* карточки */
.price_card_1 {
   background-color: #1F2631;
   border-radius: 10px;
   transition: all 0.5s;
}

.price_card_2 {
   background-color: #1F2631;
   border-radius: 10px;
   transition: all 0.5s;
}

.price_card_3 {
   background-color: #1F2631;
   border-radius: 10px;
   transition: all 0.5s;
}

/* Ховер первой карты */
.price_card_1:hover {
   background-color: #00C5FF;

}

.price_card_1:hover .price_button_1 {
   background-color: #141C24;
   color: white;
}

.price_card_1:hover h3 {
   color: #141C24;
}

.price_card_1:hover p {
   color: #141C24;
}

.price_card_1:hover ul {
   color: #000000;
}

/* Ховер второй карты */
.price_card_2:hover {
   background-color: #00C5FF;

}

.price_card_2:hover .price_button_2 {
   background-color: #141C24;
   color: white;
}

.price_card_2:hover h3 {
   color: #141C24;
}

.price_card_2:hover p {
   color: #141C24;
}

.price_card_2:hover ul {
   color: #000000;
}

/* Ховер третьей карты */
.price_card_3:hover {
   background-color: #00C5FF;

}

.price_card_3:hover .price_button_3 {
   background-color: #141C24;
   color: white;
}

.price_card_3:hover h3 {
   color: #141C24;
}

.price_card_3:hover p {
   color: #141C24;
}

.price_card_3:hover ul {
   color: #000000;
}

/* ПЯТАЯ СЕКЦИЯ */

.section_five {
   background-color: #141C24;
   
}
.devices{
   align-items: center;
   
}

.device_text h2 {
   color: white;
   font-family: 'Orbitron', sans-serif;
   margin-bottom: 5rem;
   text-shadow: 0px 0px 30px rgba(253, 187, 45, 1);
   text-align: center;
}

.device_text p {
   font-size: 1.3rem;
   font-weight: 500;
   margin-left: 2rem;
   margin-top: 1rem;
   font-weight: 700;
   color: #ABABAB;
   text-align: center;
}

.device_img img {
   width: 100%;
}

/* ШЕСТАЯ СЕКЦИЯ */

.section_six {
   background-color: #141C24;
}

.map {
   align-content: center;
   text-align: center;
   padding-bottom: 5rem;
}

.map_box img {
   width: 50%;
   filter: drop-shadow(0px 0px 24px #00C5FF);
}

.map h2 {
   color: white;
   font-family: 'Orbitron', sans-serif;
   margin-bottom: 5rem;
   text-shadow:  0px 0px 30px rgba(253, 187, 45, 1);
   text-align: center;
}

/* СЕДЬМАЯ СЕКЦИЯ */

.section_seven {
   background-color: #171717;
   color: white;
   font-family: 'Orbitron', sans-serif;
}

.contacts {
   text-align: center;
   align-items: center;
   font-size: 1rem;
   justify-content: space-around;
   padding-top: 4rem;
   padding-bottom: 4rem;
}

.contacts svg:hover {
   fill: rgba(253, 187, 45, 1);
}

.cookies {
   margin-left: 2rem;
   margin-right: 2rem;
}

.footer_logo {
   margin-right: 2rem;
}

.icon_fb {
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

.icon_box {
   display: inline-block;
}


/* МЕДИА ЗАПРОСЫ */
@media screen and (max-width:576px) {
   .section_two_text { text-align: center;
   }
   .section_two h5 {
      margin-left: 3.7rem;
   }
   .hr_section_two {
      width: 100%;
   }
   .price_card_1 {
      margin-bottom: 1rem;
   }
   .price_card_2 {
      margin-bottom: 1rem;
   }
   .price_card_2 {
      margin-bottom: 1rem;
   }
   .reserved{
      display: block;
   }
   .contacts {
      flex-direction: column;
      flex-direction: column-reverse;
      
   }
   .logo_reserved{
      margin-top: 1rem;
   }
   .footer_logo {
      visibility: hidden;
   }
   .icon_box {
      margin-top: 1rem;
   }
   .under_header_button {
      width: 50%;
   }
   .section_one {
      padding-bottom: 25rem;
      margin-top: -1rem;
      width: 106%;
      margin-left: -0.6rem;
   }
   .section_six{
      padding-top: 7rem;
   }
}

@media screen and ( min-width: 576px) and (max-width:1000px) {
   .section_four h3 {
      font-size: 1rem;
   }
}