body {
   margin: 0;
   padding: 0;
   font-size: 10px;
   font-family: 'Orbitron', sans-serif;
}
a {
   text-decoration: none;
   color: white;
}

a:hover {
   color: #00C5FF;
   text-shadow: 0px 0px 30px #00C5FF;
}

.box {
   background-color: #141C24;
   color: white;
   text-shadow: 0px 0px 30px rgba(253, 187, 45, 1);
   min-height: 100vh;
}

.box_row {
   justify-content: center;
   text-align: center;
   padding-top: 2rem;
   padding-bottom: 12.2rem;
}

h1 {
   margin-bottom: 7rem;
}

img:hover{
   filter: drop-shadow(0px 0px 24px #00C5FF);
   cursor: pointer;
}